'.source.stellaris':
  'editor':
    'foldEndPattern': '^\\s*\\b(\\})\\b$'

    'increaseIndentPattern': '
        .*\\b(\\{)\\b
      '

    'decreaseIndentPattern': '
        .*\\b(\\})\\b
      '
